@page "/register"

<div class="auth__container">
    <div class="auth__upper">
        <h2 class="auth__title">
            Авторизация
        </h2>
    </div>
    <div class="auth__lower">
        <p class="auth__lower-par">
            Введите данные для доступа к системе.
        </p>
        <input type="text" class="auth__input" placeholder="E-Mail" />
        <input type="text" class="auth__input" placeholder="Password"/>
         <button class="auth__login btn">Зарегистрироваться</button>
        <p class="auth__register-par">Уже есть аккаунт?<a class="auth__press-here" href="login">Войти</a></p>
    </div>
</div>

@code {


}
